<header class="w-full bg-slate-600 px-4 py-10 text-xl font-semibold text-center text-white">
  <span>Rutas Optimas para la distribución de medicina ante caso de emergencias</span>
  <p class="pt-2">NORTE DEL PERÚ</p>
</header>